;; TODO For #url have a look at https://cljs.github.io/api/syntax/tagged-literal
;; Use (quot (System/currentTimeMillis) 1000) to get unique and short ids
#{

  {:fr [""]
   :en [""]}

  {:fr [""]
   :en ["He had only 33 intact divisions at the moment, but 130,000 French and 110,000 British soldiers will have arrived by the end of December, and Allied shipping made sure that the coal"]
   :desc ["Events of past referencing to ? future past ? https://youtu.be/WZJTN3Hoj7w?t=5m42s"]}


  {:fr ["Ne le foirez pas" "Ne le foire pas"]
   :en ["Don't screew it up"]}

  {:fr ["Nous avonz passé du rhum en contrebande"]
   :en ["We were smuggling rhum"]}

  {:fr ["Je serai direct"]
   :en ["I'll be straight"]}

  {:fr ["C'est le moment d'agir"]
   :en ["It's time to act"]}

  {:fr ["C'est sûr et certain"]
   :de ["Das ist so sicher wie das Amen in der Kirche https://dict.leo.org/dict/addInfo.php?aiid=DELMcPNw3mf&lp=frde&lang=en" ]}

  {:fr ["Jeter un oeil à qc"
        "Jeter un coup d'oeil"
        "Jeter un oeil là-dessus"]
   :de ["Einen Blick werfen" "Einen Blick auf etwas werfen"]
   :sk ["Mkrnúť sa na niečo / do niečoho"
        "Hodiť očkom na niečo / do niečoho"]
   }

  {:en ["On the other hand"]
   :fn ["D'autre part"]
   :sk ["Naproti tomu" "Na druhej strane"]
   :de []
   }

  {:fr ["Difficile à se décider"]
   :sk ["Tažko sa rozhodnúť"]
   :de ["(Ist) Schwer sich zu entscheiden"]}

  {:fr ["Il faut justement"]
   :en ["I just need to"]
   :de ["Man muss nur" "Ich muss nur"]
   :sk "Musím len"}

  {:fr ["Ça prend toujours de temps"]
   :de ["Das dauert immer lange"]
   :en ["That always takes time"]}

  {:fr ["Qu'en dites vous?"]
   :en ["Was halten Sie davon?"]}

  {:fr ["Tout ce qu'il faut faire est de me faire confiance"]
   :en ["Everything you have to do is to trust me"]}

  {:fr ["Une fois qu'il va découvrir notre plan, il reviendra, plus fort que jamais"]}

  {:fr ["Je sauvais que vous l'aviez en vous, John"]}

  {
   :url "https://youtu.be/jDyra0RH-Xs?t=24m25s"
   :en "all bets are off"
   }
  {:id 1509749127
   :fr ["On ne peut plus attendre"]
   }
  {:sk ["práceneschopnosť / PN"]
   :en ["sickness absence"]
   :de ["Krankmeldung"]
   }
  {:id 1509749129
   :fr ["J'ai me fait porter pâle"]
   :de ["Ich werde mich krankmelden"]
   :sk [
        "Idem sa nahlásiť práce neschopným / PN"]
   "Nahlásim sa práce neschopným / PN"
   }

  {:id 1509749150
   :url "https://youtu.be/a4f6KM9Kvi0?t=3m24s"
   :desc
   ["A girl wants to pass through an opening in the stone wall firmly blocked by
   tree trunks and realises: the decision not to take her machete was mistake."]
   :see [1509749163]
   :fr ["J'aurais dû prendre ma machete"]
   :de ["Ich hätte die Machete nehmen müssen"]
   :sk ["Mal som si vziať mačetu"]
   :en ["I could have taken my machete"]}

  {:id 1509749163
   :url "https://youtu.be/a4f6KM9Kvi0?t=3m24s"
   :see [1509749150]
   :fr ["J'aurais pu prendre ma machete"]
   :de ["Ich hätte die Machete nehmen können"]
   :sk ["Mohol som si vziať mačetu"]
   :en ["I should have taken my machete"]}

  {:id 1510422668
   :see [1510422783]
   :desc "Weekdays"}

  {:id 1510422783
   :see [1510422668]
   :fr ["le vendredi" {:desc "Dans le sense: repetitivement; chaque vendredi"}]
   :en ["Fridays" "on Fridays" "every Friday"]
   :de ["Freitags" "immer Freitags" "jeden Freitag"]
   :sk ["piatky" "vzdy v piatky" "vzdy v piatok" "kazdy piatok"]
   }

  {
   ;; TODO pendant le semaine dans les soirs ???
   :sk ["po veceroch studujem"]
   :fr ["le soir j'étudie" ]
   }

  {:sk ["Prácu obstaravajuce opatrenie"]
   :de ["Arbeitsbeschaffungsmaßnahme"]
   :fr ["mesure de réinsertion des chômeurs"]}}

{:sk ["vziat / zobrat nahradne volno"]
 :de ["Gleitzeit nehmen"]
 :en ["'to take a day off' probably means 'a day off' in general; not a replacement for a day already spent at work"]
 :fr ["récupération du temps de travail => RTT. Prendre (une journée de) RTT. (dans le cadre des 35h)"]}
